---
title: Clients
layout: default
bodyClass: page-clients-list
---

<div class="intro">
  <div class="container">
    <h1>Partial List of Clients</h1>
    <br>
    <div class="row">
      <div class="col-sm">
        {% for client in site.data.clients.col1 %}
        <p style="width:70% !important;">{{ client }}</p>
        {% endfor %}
      </div>
      <div class="col-sm">
          {% for client in site.data.clients.col2 %}
          <p style="width:70% !important;">{{ client }}</p>
          {% endfor %}
        </div>
        <div class="col-sm"">
            {% for client in site.data.clients.col3 %}
            <p style="width:70% !important;">{{ client }}</p>
            {% endfor %}
          </div>
    </div>
  </div>
</div>