---
title: Empire Valuation and Advisory Services, Inc.
layout: default
bodyClass: page-home
---

<div class="intro pb-4 image-wrapper">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-6 call">
        <div class="head-wrapper">
          <h1>Empire - Valuation & Advisory Services.</h1>
          <p>Empire Valuation & Advisory Services, Inc. offers commercial real estate appraisal services throughout
            southern California.</p>
        </div>
        <div class="call-box-top">
            <div class="call-phone"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
            <div class="call-email"><strong>Email: </strong>
              <a href="mailto:{{ site.data.contact.email }}">
                {{ site.data.contact.email }}
              </a>
            </div>
          </div>
          <div class="call-box-bottom">
            <a href="{{site.baseurl}}/contact" class="button">Contact</a>
          </div>
      </div>
        
    </div>
  </div>
</div>

<div class="container pt-8 pt-md-10">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="title-3 text-dark mb-3">Our Services</h2>
      </div>
     <p>
        Empire VAS focuses on primary research from the local market. We have an extensive network of local property owner,
        broker, lender, and developer contacts that allows for real time property
        information pertinent to each valuation. We take pride in providing accurate,
        honest, and objective results in a timely manner. We cater our services to the specific needs
        of the client based on current market conditions.
     </p>
      <div class="col-12 text-center">
        <a class="button button-primary mt-2" href="{{site.baseurl}}/contact">Learn More</a>
      </div>
    </div>
</div>

<div class="container pt-5 pb-5 pt-md-7 pb-md-7">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-4">Property Types</h2>
    </div>
    {% for feature in site.data.features %}
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <div class="feature">
        {% if feature.image %}<div class="feature-image"><img alt="{{ feature.title }} logo"
            src="{{ feature.image }}" /></div> {% endif %}
        <h2 class="feature-title">{{ feature.title }}</h2>
        <div class="feature-content">{{ feature.description }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>